---
import RootLayout from "../layouts/RootLayout.astro";
import Greeting from "../components/Greeting";
const pageTitle = "Home";
---

<RootLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there"]} />
</RootLayout>
